.large-text {
  font-size: 18px;
}

/* Login form css */

.google-logo {
  width: 20px;
  height: 20px;
}

.center {
  width: 40%;
  margin: 0 auto;
  background-color: transparent; 
}

.text-align-center {
  text-align: center;
}
