.large-text {
  font-size: 18px;
}

/* Login form css */

.google-logo {
  width: 20px;
  height: 20px;
}

.center {
  width: 40%;
  margin: 0 auto;
  background-color: transparent; 
}

.text-align-center {
  text-align: center;
}

.dash {
  padding: 0px 100px;
}

.col-md-12 {
  padding: 0px 50px;
}

body {
  font-family: Roboto, sans-serif;
}

.cardImage {
  padding: 0px 50px;
  max-width: 225px;
  max-height: 225px;

}
/* about page */

.set-height {
  height: 200px;
}
